<button class="btn btn-warning" (click)="open(modal_mini, 'modal_mini', 'sm')">
   Play
</button>
<ng-template #modal_mini class="color-modal" let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <img class="d-block" [src]="image">
  </div>
  <div class="modal-body">
    <div class="progress-container progress-primary">
      <span class="progress-badge">Song...</span>
  
      <ngb-progressbar *ngIf="musicPlay < 10" [value]="musicPlay"><span class="progress-value">00:0{{musicPlay}}</span></ngb-progressbar>

      <ngb-progressbar *ngIf="musicPlay >= 10" [value]="musicPlay"><span class="progress-value">00:{{musicPlay}}</span></ngb-progressbar>
      
      <br>
    </div>
      <p>30 second preview</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="closeModal()">Close</button>
  </div>
</ng-template>
