.margin-carousel {
    margin-top: 260px;
}

.margin-top {
    margin-top: 30px;
    margin-left: 40px;
}

.margin-title {
    margin-top: 175px;
}

img {
    width: 731px;
}

.color-section {
    background-color: white;
}

.table-section {
    background-color: rgba(94, 94, 94, 0.829);
}

.comments {
    text-align: justify;
    margin: 20px;
}

.size-cars {
    display: flex;
    width: 446px;
}

.aling-cards {
    flex-shrink: 0;
}

.view-input {
    background-color: white;
    width: 350px;
}

a {
    color: white;
    text-decoration:none;
}

.top-s {
    margin-right: 280px;
}

.title-category {
    font-size: 300%;
}