.margin-carousel {
    margin-top: 260px;
}

.margin-top {
    margin-top: 30px;
    margin-left: 40px;
}

.margin-title {
    margin-top: 175px;
}

img {
    width: 731px;
}

.color-section {
    background-color: white;
}

.table-section {
    background-image: url("../../../assets/img/header4.jpg");
}

.comments {
    text-align: justify;
    margin: 20px;
}

.size-cars {
    display: flex;
    width: 446px;
}

.aling-cards {
    flex-shrink: 0;
}