<div class="wrapper">

    <div class="page-header clear-filter" filter-color="gray">

        <div class="page-header-image rellax-header" data-rellax-speed="-5" style="background-image: url('assets/img/header6.jpg');">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <div class="row justify-content-center">
                        <div class="col-8 margin-carousel">
                            <div class="title">
                                <h4><a routerLink="./" fragment="topOneH">Top 10 songs</a></h4>
                            </div>
                          <ngb-carousel>
                              <ng-template *ngFor="let photo of photoData" ngbSlide>
                                  <a routerLink="./" fragment="topOneH">
                                <img class="d-block" [src]="photo.url" alt="{{photo.title}}"></a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="title-photo">{{photo.title}}</h5>
                                </div>
                              </ng-template>
                          </ngb-carousel>
                        </div>
                    </div> 
                </div>

                <div class="col col-lg-5 col-md-6 col-sm-6">
                        <div class="team">
                            <div class="title margin-title">
                                <h4><a routerLink="./" fragment="topArt">Trending artists</a> </h4>
                            </div>
                            <div class="row">
                                <div class="col col-md-4 col-sm-2 margin-top" *ngFor="let photo of photoArtistsData; let i = index">
                                   
                                    <a routerLink="./" fragment="topArt"><img [src]="photo.url" alt="{{photo.title}}" class="rounded-circle img-fluid img-raised"></a>
                                        
                                        <h4 class="title">{{photo.first_name}}</h4>
                                        <p class="category">{{photo.last_name}}</p>
                                    
                                </div>
                            </div>
                        </div>        
                </div>

            </div>    
        </div>
    </div>

    <section class="top-one" id="topOneH">
        
        <div class="section section-tabs color-section">
            <div class="container top-s">
                <p class="category title-category color-text">Top 10</p>
                <div class="row">
                    <div class="col-md-6" *ngFor="let photo of photoData; let i = index">
                        <div class="nav-tabs-wrapper size-cars">
                            <ngb-tabset [justify]="'center'" class="text-center">
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons emoticons_satisfied color-text"></i> <span class="color-text"># {{i+1}}</span>  
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                      <img class="d-block" [src]="photo.url">
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons media-2_note-03 color-text"></i> <span class="color-text">Album Name</span> 
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p class="comments"> <span class="color-text">{{photo.title}}</span></p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons ui-2_like color-text"></i> <span class="color-text">Comments</span>
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p class="comments"> <span class="color-text">{{commentsData[i].body}}</span> </p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                      <i class="now-ui-icons media-2_note-03 color-text"></i> <span class="color-text">Preview</span>
                                    </ng-template>
                                      <ng-template ngbTabContent>
                                        <ngbd-modal-component [image]="photo.url" [numSong]="i"></ngbd-modal-component>
                                      </ng-template>
                                  </ngb-tab>
                            </ngb-tabset>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section id="topArt">
        
        <div class="section section-tabs table-section">

            <div class="container container-color">

                <div class="form-group form-inline">
                    <span class="badge badge-warning">Search Artist by name:</span>
                        <input class="form-control ml-2 view-input" type="text" name="searchTerm" [(ngModel)]="searchTerm" (input)="search($event.target.value)" />
                </div>

                <div *ngIf="viewPlay" class="progress-container">
                    <span class="progress-badge"> <strong> # {{numSong}} | {{nameArtist}} - {{nameSong}}</strong></span>
                
                    <ngb-progressbar *ngIf="musicPlay < 10" [value]="musicPlay"><span class="progress-value">00:0{{musicPlay}}</span></ngb-progressbar>
              
                    <ngb-progressbar *ngIf="musicPlay >= 10" [value]="musicPlay"><span class="progress-value">0{{contMinute}}:{{musicPlay}}</span></ngb-progressbar>
                    
                    <br>
                  </div>
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Song name</th>
                        <th scope="col">Website</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; let i = index; listFilter of searchTerm">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ user.name }}
                        </td>
                        <td>{{ user.company }}</td>
                        <td>{{ user.website }}</td>
                        <td>
                            <button class="btn btn-warning btn-round" type="button" (click)="playMusic(user.name, i, user.company)">Play <i class="now-ui-icons tech_headphones"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" class="pagination-warning" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshArtist()">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshArtist()">
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                </select>
                </div>

            </div>
        </div>

    </section>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/dayoherrera">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/dayoherrera/music-app">
                          Repository
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Coded by
                <a href="https://github.com/dayoherrera" target="_blank">Dayo</a>.
            </div>
        </div>
    </footer>
      
</div>

