.title-header {
    color: black;
}

.button-header {
    color: black;
    background-color: white;
}

.button-header:hover {
    color: white;
    background-color: black;
}

@media screen and (min-height: 1100px){
    .footer .container-main{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
    }

    .container-content {
        height: 350px;
    }
}