ngb-progressbar {
    margin-top: 5rem;
}

.title-header {
    color: black;
}

.button-header {
    color: black;
    background-color: white;
}

.button-header:hover {
    color: white;
    background-color: black;
}